__pycache__/
.DS_Store
.env*
.venv
.vscode/
uploads/

src/rag/models/
src/rag/embeddings_cache.pkl

src/gmail/credentials.json
src/gmail/token.pkl
src/gmail/downloads/gmail_since_*.json
src/gmail/logout.lock
src/gmail/state.txt

src/todoist/test_cache.pkl
src/todoist/cache/

# Test artifacts  
.pytest_cache/

utilities/
